.container {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
   /*  grid-template-columns: {repeat(3)}; */
}

.item {
    border: 1px solid blanchedalmond;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and {min-device-width : 320px} and 
    
}